In [1]:
import pandas as pd
pd.options.display.max_rows = 500

## Orders

In [2]:
orders = pd.read_csv('data/orders_s-1.csv', index_col = 0)
orders

,order_source_id,order_created_datetime,customer_id,status,sum,quantity,name,surname,patronymic,product_id
2057,352799,2019-04-28T18:20:05,53288,Paid,1639.75,2,ольга,костецька,василівна,411552
281,348368,2019-04-20T16:04:04,38764,Failed,569.0,1,людмила,романькова,васильевна,481600
840,350160,2019-04-23T17:26:06,103614,Paid,781.0,2,ксения,войтович,викторовна,490460
2482,345744,2019-04-16T13:34:22,31186,Failed,56.1,1,анна,саловська,олександрівна,529629c
1535,352736,2019-04-28T15:40:29,105472,Failed,"48,0",1,катя,алдохина,алдонина,460488
...,...,...,...,...,...,...,...,...,...,...
2034,346933,2019-04-18T11:58:03,45660,Paid,230.4,1,андрей,кожин,юрьевич,273025
2495,347759,2019-04-19T15:30:36,31669,Paid,1130.1,3,наталья,скорик,миколаївна,505977
427,351824,2019-04-26T14:46:06,103780,Paid,243.0,1,ірина,швець,валеріївна,24463
828,351519,2019-04-25T23:20:03,39095,Paid,798.0,2,елена,koliadenko,александровна,481602
35,346801,2019-04-18T01:32:02,40981,Failed,564.0,3,наталья,собко,владимировна,482005

In [3]:
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2502 entries, 2057 to 35
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_source_id         2502 non-null   int64
 1   order_created_datetime  2502 non-null   object
 2   customer_id             2502 non-null   int64
 3   status                  2502 non-null   object
 4   sum                     2502 non-null   object
 5   quantity                2502 non-null   int64
 6   name                    2502 non-null   object
 7   surname                 2502 non-null   object
 8   patronymic              2502 non-null   object
 9   product_id              2502 non-null   object
dtypes: int64(3), object(7)
memory usage: 215.0+ KB

In [4]:
from transliterate import translit, get_available_language_codes
import re

In [5]:
### Transliterate names

def get_translit(string):
    transliterated = translit(string, 'ru', reversed = True).replace("'", "")
    return re.sub(r'&.+;', '', transliterated)

cols = ['name', 'surname', 'patronymic']
for col in cols:
    orders[col] = [get_translit(text) for text in orders[col]]
    
### Filter product_id
orders['product_id'] = orders['product_id'].replace(r'[A-z]+', '', regex = True).astype(int)

### Convert timestamps
orders['order_created_datetime'] = pd.to_datetime(orders['order_created_datetime'])

### Convert sums
orders['sum'] = orders['sum'].replace(',', '.', regex = True).astype(float)
orders.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2502 entries, 2057 to 35
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   order_source_id         2502 non-null   int64
 1   order_created_datetime  2502 non-null   datetime64[ns]
 2   customer_id             2502 non-null   int64
 3   status                  2502 non-null   object
 4   sum                     2502 non-null   float64
 5   quantity                2502 non-null   int64
 6   name                    2502 non-null   object
 7   surname                 2502 non-null   object
 8   patronymic              2502 non-null   object
 9   product_id              2502 non-null   int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(3), object(4)
memory usage: 205.2+ KB

In [6]:
### Drop duplicates
orders.drop_duplicates(inplace = True)
orders

,order_source_id,order_created_datetime,customer_id,status,sum,quantity,name,surname,patronymic,product_id
2057,352799,2019-04-28 18:20:05,53288,Paid,1639.75,2,olga,kostetska,vasilіvna,411552
281,348368,2019-04-20 16:04:04,38764,Failed,569.00,1,ljudmila,romankova,vasilevna,481600
840,350160,2019-04-23 17:26:06,103614,Paid,781.00,2,ksenija,vojtovich,viktorovna,490460
2482,345744,2019-04-16 13:34:22,31186,Failed,56.10,1,anna,salovska,oleksandrіvna,529629
1535,352736,2019-04-28 15:40:29,105472,Failed,48.00,1,katja,aldohina,aldonina,460488
...,...,...,...,...,...,...,...,...,...,...
58,349338,2019-04-22 13:16:04,103210,Paid,2239.00,1,elena,strelets,aleksandrovna,528180
842,351099,2019-04-25 12:02:06,31712,Paid,783.00,3,lilija,lazko,georgievna,541661
2034,346933,2019-04-18 11:58:03,45660,Paid,230.40,1,andrej,kozhin,jurevich,273025
2495,347759,2019-04-19 15:30:36,31669,Paid,1130.10,3,natalja,skorik,mikolaїvna,505977
35,346801,2019-04-18 01:32:02,40981,Failed,564.00,3,natalja,sobko,vladimirovna,482005

,order_source_id,order_created_datetime,customer_id,status,sum,quantity,name,surname,patronymic,product_id
2057,352799,2019-04-28 18:20:05,53288,Paid,1639.75,2,olga,kostetska,vasilіvna,411552
281,348368,2019-04-20 16:04:04,38764,Failed,569.00,1,ljudmila,romankova,vasilevna,481600
840,350160,2019-04-23 17:26:06,103614,Paid,781.00,2,ksenija,vojtovich,viktorovna,490460
2482,345744,2019-04-16 13:34:22,31186,Failed,56.10,1,anna,salovska,oleksandrіvna,529629
1535,352736,2019-04-28 15:40:29,105472,Failed,48.00,1,katja,aldohina,aldonina,460488
...,...,...,...,...,...,...,...,...,...,...
58,349338,2019-04-22 13:16:04,103210,Paid,2239.00,1,elena,strelets,aleksandrovna,528180
842,351099,2019-04-25 12:02:06,31712,Paid,783.00,3,lilija,lazko,georgievna,541661
2034,346933,2019-04-18 11:58:03,45660,Paid,230.40,1,andrej,kozhin,jurevich,273025
2495,347759,2019-04-19 15:30:36,31669,Paid,1130.10,3,natalja,skorik,mikolaїvna,505977
35,346801,2019-04-18 01:32:02,40981,Failed,564.00,3,natalja,sobko,vladimirovna,482005

## Uplodaing cleansed data

In [30]:
from google.cloud import bigquery
import os

In [31]:
path = r"F:\Dropbox\03_Data SCIENCE\00_projects\NEW_CURRENT\My Project-adce710257e8.json"
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = path

In [32]:
client = bigquery.Client()

### Create dataset

In [35]:
dataset_id = 'client_data'
project_id = client.project

In [ ]:
dataset_ref = bigquery.DatasetReference.from_string(dataset_id, default_project=project_id)
dataset = bigquery.Dataset(dataset_ref)
dataset = client.create_dataset(dataset, timeout=30)
print(f"Created dataset {project_id}.{dataset.dataset_id}")

### Create table

In [36]:
table_name = 'orders'
table_id = '.'.join([project_id, dataset_id, table_name])
table_id

'thinking-seer-298510.client_data.orders'

In [ ]:
table = bigquery.Table(table_id)
table = client.create_table(table)

### upload dataframe to table

In [33]:
string_cols = ('status', 'name', 'surname', 'patronymic')
schema = [bigquery.SchemaField(s, bigquery.enums.SqlTypeNames.STRING) for s in string_cols]

In [37]:
job_config = bigquery.LoadJobConfig(
    schema=schema,
    write_disposition="WRITE_TRUNCATE"
)

job = client.load_table_from_dataframe(orders, table_id, job_config=job_config)
job.result()

table = client.get_table(table_id)  # Make an API request.
print(
    "Loaded {} rows and {} columns to {}".format(
        table.num_rows, len(table.schema), table_id
    )
)

Loaded 1499 rows and 10 columns to thinking-seer-298510.client_data.orders

## Products

In [40]:
products = pd.read_csv('data/products-1.csv')
products

      product_id   price     goods_group     manufacturer
0         518018   899.0  Дитячі машинки               MZ
1         518020   899.0  Дитячі машинки               MZ
2         503982  1979.0  Дитячі машинки               MZ
3         518303   324.0  Дитячі машинки               MZ
4         521360   899.0  Дитячі машинки               MZ
...          ...     ...             ...              ...
3760      332712   500.0       Подарунки  Будинок іграшок
3761      359998  1000.0       Подарунки  Будинок іграшок
3762      357119    30.0       Подарунки  Будинок іграшок
3763      506458    40.0       Подарунки  Будинок іграшок
3764      506423    40.0       Подарунки  Будинок іграшок

[3765 rows x 4 columns]

In [41]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3765 entries, 0 to 3764
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    3765 non-null   int64
 1   price         3765 non-null   float64
 2   goods_group   3765 non-null   object
 3   manufacturer  3765 non-null   object
dtypes: float64(1), int64(1), object(2)
memory usage: 117.8+ KB

In [46]:
def get_table_id(table_name, dataset_id):
    return '.'.join([client.project, dataset_id, table_name])

In [42]:
def create_table(table_name, dataset_id):
    table_id = get_table_id(table_name, dataset_id)
    table = bigquery.Table(table_id)
    table = client.create_table(table)

In [43]:
create_table('products', dataset_id, project_id)

In [50]:
def upload_to_dataset(string_cols, df, table_name, dataset_id):
    table_id = get_table_id(table_name, dataset_id)
    schema = [bigquery.SchemaField(s, bigquery.enums.SqlTypeNames.STRING) for s in string_cols]
    job_config = bigquery.LoadJobConfig(schema=schema, write_disposition="WRITE_TRUNCATE")
    job = client.load_table_from_dataframe(df, table_id, job_config=job_config)
    job.result()
    table = client.get_table(table_id)
    print(f"loaded {table.num_rows} rows and {len(table.schema)} columns to {table_id}")

In [51]:
cols = ('goods_group', 'manufacturer')

upload_to_dataset(cols, products, 'products', dataset_id)

loaded 3765 and 4 to thinking-seer-298510.client_data.products